{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ person.first_name }} {{ person.last_name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/aos.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">

<header>
    <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
            <div class="container">
                <div class="navbar-translate"><a class="navbar-brand" href="#"
                                                 rel="tooltip">{{ person.first_name }} {{ person.last_name }}</a>
                    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navigation" aria-controls="navigation" aria-expanded="false"
                            aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span
                            class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">{% trans "About" %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="#skills">{% trans "Skills" %}</a>
                        </li>
                        <li class="nav-item"><a class="nav-link smooth-scroll"
                                                href="#projects">{% trans "Projects" %}</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll"
                                                href="#experience">{% trans "Experience" %}</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll"
                                                href="#education">{% trans "Education" %}</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll"
                                                href="#personal">{% trans "Photos" %}</a></li>
                        <form action="/i18n/setlang/" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}"/>
                            <input name="language" type="hidden" value="cs"/>
                            <button class="btn btn-primary" type="submit"
                                    style="background: transparent">CZ
                            </button>
                        </form>
                        <form action="/i18n/setlang/" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}"/>
                            <input name="language" type="hidden" value="en"/>
                            <button class="btn btn-primary" type="submit"
                                    style="background: transparent">EN
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="page-content">
    <div>
        <div class="profile-page">
            <div class="wrapper">
                <div class="page-header page-header-small" filter-color="green">
                    <canvas id="ascii-background"
                            data-name="{{ person.first_name }} {{ person.last_name }}"
                            aria-hidden="true"></canvas>
                    <div class="container">
                        <div class="content-center">
                            <div class="cc-profile-image"><a href="#"><img
                                    src="{{ person.headshot.url }}" alt="my-headshot"/></a></div>
                            <div class="h2 title">{{ person.first_name }} {{ person.last_name }}</div>
                            <p class="category text-white">{{ person.short_description }}</p>
                            <a class="btn btn-primary" href="{% url 'download-cv' %}"
                               data-aos="zoom-in" data-aos-anchor="data-aos-anchor">
                                {% trans "Download CV" %}
                            </a>
                        </div>
                    </div>
                    <div class="section">
                        <div class="container">
                            <div class="button-container">
                                {% if person.linkedin %}
                                    <a class="btn btn-default btn-round btn-lg btn-icon"
                                       href="{{ person.linkedin.url }}">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                {% endif %}
                                {% if person.facebook %}
                                    <a class="btn btn-default btn-round btn-lg btn-icon"
                                       href="{{ person.facebook.url }}">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                {% endif %}
                                {% if person.instagram %}
                                    <a class="btn btn-default btn-round btn-lg btn-icon"
                                       href="{{ person.instagram.url }}">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                {% endif %}
                                {% if person.github %}
                                    <a class="btn btn-default btn-round btn-lg btn-icon" href="{{ person.github.url }}">
                                        <i class="fa fa-github"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="about">
            <div class="container">
                <div class="card" data-aos="fade-up" data-aos-offset="10">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">{% trans "About" %}</div>
                                <p>{{ person.about_me|safe }}</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="card-body">
                                <div class="h4 mt-0 title">{% trans "Basic information" %}</div>
                                <div class="row">
                                    <div class="col-sm-4"><strong class="text-uppercase">{% trans "Age" %}:</strong>
                                    </div>
                                    <div class="col-sm-8">{{ person.age }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">{% trans "Email" %}:</strong>
                                    </div>
                                    <div class="col-sm-8">{{ person.email }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">{% trans "Phone" %}:</strong>
                                    </div>
                                    <div class="col-sm-8">{{ person.phone }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong class="text-uppercase">{% trans "Address" %}:</strong>
                                    </div>
                                    <div class="col-sm-8">{{ person.address }}</div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4"><strong
                                            class="text-uppercase">{% trans "Driver's license" %}:</strong>
                                    </div>
                                    <div class="col-sm-8">{{ person.driver_license }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="skills">
            <div class="container">
                <div class="h4 text-center mb-4 title">{% trans "Skills" %}</div>
                <div class="card skills-chip-card">
                    <div class="card-body">
                        {% regroup skills by type_skill as skill_groups %}

                        <div class="skills-chip-panel">
                            {% for skill_group in skill_groups %}
                                <div class="skills-chip-row">
                                    <div class="skills-chip-heading">{{ skill_group.grouper.title }}</div>
                                    <div class="skills-chip-list">
                                        {% for skill in skill_group.list %}
                                            <span class="skill-chip"
                                                  style="border-color: {{ skill.type_skill.color }}">{{ skill.title }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if skills_other %}
                                <div class="skills-chip-row">
                                    <div class="skills-chip-heading">{% trans "Other technologies I use:" %}</div>
                                    <div class="skills-chip-list">
                                        {% for skill_other in skills_other %}
                                            <span class="skill-chip">{{ skill_other.title }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="projects">
            <div class="container">
                <div class="h4 text-center mb-4 title">{% trans "Projects" %}</div>
                <div class="gallery">
                    <div class="row">
                        {% for project in projects %}
                            <div class="col-md-6">
                                <div class="cc-porfolio-image img-raised" data-aos="fade-up"
                                     data-aos-anchor-placement="top-bottom">
                                    {% if project.url %}
                                        <a href="{{ project.url }}">
                                    {% endif %}
                                    <figure class="cc-effect">
                                        {% if project.image %}
                                            <img src="{{ project.image.url }}" alt="{{ project.title }}"/>
                                        {% else %}
                                            <img src="{% static 'images/project-default.jpg' %}" alt="{{ project.title }}"/>
                                        {% endif %}
                                        <figcaption>
                                            <div class="h4">{{ project.title }}</div>
                                            <p>{{ project.short_description }}</p>
                                        </figcaption>
                                    </figure>
                                    {% if project.url %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="experience">
            <div class="container cc-experience">
                <div class="h4 text-center mb-4 title">{% trans "Experience" %}</div>
                {% for job in jobs %}

                    <div class="card {% if forloop.first %}highlighted-card{% endif %}">
                        <div class="row">
                            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                                 data-aos-duration="500">
                                <div class="card-body cc-experience-header">
                                    <p>{{ job.start_date|date:"m/Y" }} -
                                        {% if job.end_date %}
                                            {{ job.end_date|date:"m/Y" }}
                                        {% else %}
                                            {% trans 'now' %}
                                        {% endif %}
                                    </p>
                                    <div class="h5">{{ job.company }}</div>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">{{ job.position }}</div>
                                    <p>{{ job.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="section" id="education">
            <div class="container cc-education">
                <div class="h4 text-center mb-4 title">{% trans "Education" %}</div>
                {% for education in educations %}
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50"
                                 data-aos-duration="500">
                                <div class="card-body cc-education-header">
                                    <p>{{ education.start_date|date:"m/Y" }}
                                        - {{ education.end_date|date:"m/Y" }}</p>
                                    <div class="h5">{{ education.title }}</div>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">{{ education.position }}</div>
                                    <p class="category">{{ education.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="section" id="personal">
            <div class="container">
                <div class="h4 text-center mb-4 title">{% trans "Photos" %}</div>
                <div class="card personal-gallery-card">
                    <div class="card-body">
                        <div class="personal-gallery-grid">
                            {% for photo in photos %}
                                <button class="personal-gallery-thumb" type="button"
                                        data-toggle="modal"
                                        data-target="#personalGalleryModal"
                                        data-photo-index="{{ forloop.counter0 }}"
                                        aria-label="{% trans 'Open photo' %}: {{ photo.title }}">
                                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}"/>
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if photos %}
    <div class="modal fade personal-gallery-modal" id="personalGalleryModal" tabindex="-1" role="dialog"
         aria-labelledby="personalGalleryTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg personal-gallery-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close personal-gallery-close" data-dismiss="modal"
                        aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="sr-only" id="personalGalleryTitle">{% trans "Personal photo gallery" %}</div>
                    <div id="personalGalleryCarousel" class="carousel slide" data-interval="false">
                        <ol class="carousel-indicators">
                            {% for photo in photos %}
                                <li data-target="#personalGalleryCarousel" data-slide-to="{{ forloop.counter0 }}"
                                    class="{% if forloop.first %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for photo in photos %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ photo.image.url }}" alt="{{ photo.title }}"/>
                                </div>
                            {% endfor %}
                        </div>
                        {% if photos|length > 1 %}
                            <a class="carousel-control-prev" href="#personalGalleryCarousel" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Previous" %}</span>
                            </a>
                            <a class="carousel-control-next" href="#personalGalleryCarousel" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Next" %}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<footer class="footer">
    <div class="container text-center">
        {% if person.linkedin %}
            <a class="cc-linkedin btn btn-link" href="{{ person.linkedin.url }}">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if person.facebook %}
            <a class="cc-facebook btn btn-link" href="{{ person.facebook.url }}">
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if person.instagram %}
            <a class="cc-instagram btn btn-link" href="{{ person.instagram.url }}">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if person.github %}
            <a class="cc-github btn btn-link" href="{{ person.github.url }}">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>
        {% endif %}
    </div>
    <div class="h4 title text-center">{{ person.first_name }} {{ person.last_name }}</div>
    <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com"
                                                                   target="_blank">TemplateFlip</a></p>
    </div>
</footer>
<script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/now-ui-kit.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'scripts/main.js' %}"></script>
<script type="module" src="{% static 'scripts/ascii-background.js' %}"></script>
</body>
</html>
