{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{ person.first_name }} {{ person.last_name }}</h1>
<p>{{ person.email }}</p>
<img src="{{ person.headshot.url }}" alt="{{ person.first_name }}'s Headshot">

<h2>Jobs</h2>
{% for job in jobs %}
<h3>{{ job.title }} - {{ job.position }}</h3>
<p>{{ job.start_date }} - {{ job.end_date }}</p>
{% endfor %}

<h2>Education</h2>
{% for education in educations %}
<h3>{{ education.title }} - {{ education.position }}</h3>
<p>{{ education.start_date }} - {{ education.end_date }}</p>
{% endfor %}
{% endblock %}
